<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> MelsKitchen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/PStyles.css" />
    <link rel="stylesheet" href="~/css/SpanStyles.css" />
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />

    <link rel="icon" type="image/png" href="~/images/melylogo.png" />

    @RenderSection("LogOrReg", false)

</head>
<body>
    <partial name="~/Views/Home/HeaderPartial.cshtml" />

    <div class="container layout-container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Landing", false)
    @await RenderSectionAsync("Scripts", required: false)

 
</body>
</html>
