@section Landing{
    <link rel="stylesheet" href="~/css/landing.css" />
    <script type="text/javascript" src="~/js/landing.js"></script>
}

<div class="landing-container">
    <header class="header">
        <img src="~/images/melylogo.png" alt="logo image" />
        <ul>
            <li id="about-me"> About Me</li>
            <li id="pop-dishes"> Popular Dishes</li>
            <li id="contact-me"> Contact Me</li>
        </ul>
    </header>

    @*about me section*@
    <section class="me">
        <h1>About Me</h1>
        <p>
            Vel dapibus a, blandit quis erat vivamus
            elementum aliquam luctus etiam
            fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet,
            metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque
            quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis
            nec in hac habitasse platea dictumst ut arcu enim, dictum quis ultrices id,
            sagittis eget nulla sed nunc mi, congue ut ultricies ac, varius a eros donec
            porttitor, libero fermentum fringilla laoreet, eros arcu sodales ante, ut
            dictum risus lectus vel quam integer ultricies, nunc eget elementum euismod,
            orci enim vestibulum orci, nec suscipit urna odio et tellus suspendisse suscipit
            orci sit amet sem venenatis nec lobortis sem suscipit nullam nec imperdiet velit
            mauris eu nisi a felis imperdiet porta at ac nulla vivamus faucibus felis nec dolor
            pretium eget pellentesque dolor suscipit maecenas vitae enim arcu, at tincidunt nunc
            pellentesque eleifend vulputate lacus, vel semper.

        </p>
    </section>

    @*for popular dishes*@
    <section class="dishes">
        <h1>Popular Dishes</h1>

        <div class="d-flex justify-content-around">

            <div class="food-card">
                <div class="card">
                    <div class="card-header">
                        <div class="card-img mt-1">
                            <img src="~/images/relleno.jpg" alt="" />
                        </div>
                        <p>Relleno De Papa (stuffed Potatoes)</p>
                    </div>
                    <div class="card-body">
                        A delicious blend of spices, that make the crust when we deep fry the patotoes.
                        First we cook the meet in Spanish herbs and spices, after we mashed potatos with
                        different spices to make it flavorful. Lasty, we put the meat in the potato then
                        we make it into a ball to deep fry it.
                    </div>
                    <div class="card-footer">
                        <a href="#">Click for ingredients and directions</a>
                    </div>
                </div>
            </div>
            <div class="food-card">
                <div class="card">
                    <div class="card-header">
                        <div class="card-img mt-1">
                            <img src="~/images/relleno.jpg" alt="" />
                        </div>
                        <p>Relleno De Papa (stuffed Potatoes)</p>
                    </div>
                    <div class="card-body">
                        A delicious blend of spices, that make the crust when we deep fry the patotoes.
                        First we cook the meet in Spanish herbs and spices, after we mashed potatos with
                        different spices to make it flavorful. Lasty, we put the meat in the potato then
                        we make it into a ball to deep fry it.
                    </div>
                    <div class="card-footer">
                        <a href="#">Click for ingredients and directions</a>
                    </div>
                </div>
            </div>

            <div class="food-card">
                <div class="card">
                    <div class="card-header">
                        <div class="card-img mt-1">
                            <img src="~/images/relleno.jpg" alt="" />
                        </div>
                        <p>Relleno De Papa (stuffed Potatoes)</p>
                    </div>
                    <div class="card-body">
                        A delicious blend of spices, that make the crust when we deep fry the patotoes.
                        First we cook the meet in Spanish herbs and spices, after we mashed potatos with
                        different spices to make it flavorful. Lasty, we put the meat in the potato then
                        we make it into a ball to deep fry it.
                    </div>
                    <div class="card-footer">
                        <a href="#">Click for ingredients and directions</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around">

            <div class="food-card">
                <div class="card">
                    <div class="card-header">
                        <div class="card-img mt-1">
                            <img src="~/images/relleno.jpg" alt="" />
                        </div>
                        <p>Relleno De Papa (stuffed Potatoes)</p>
                    </div>
                    <div class="card-body">
                        A delicious blend of spices, that make the crust when we deep fry the patotoes.
                        First we cook the meet in Spanish herbs and spices, after we mashed potatos with
                        different spices to make it flavorful. Lasty, we put the meat in the potato then
                        we make it into a ball to deep fry it.
                    </div>
                    <div class="card-footer">
                        <a href="#">Click for ingredients and directions</a>
                    </div>
                </div>
            </div>
            <div class="food-card">
                <div class="card">
                    <div class="card-header">
                        <div class="card-img mt-1">
                            <img src="~/images/relleno.jpg" alt="" />
                        </div>
                        <p>Relleno De Papa (stuffed Potatoes)</p>
                    </div>
                    <div class="card-body">
                        A delicious blend of spices, that make the crust when we deep fry the patotoes.
                        First we cook the meet in Spanish herbs and spices, after we mashed potatos with
                        different spices to make it flavorful. Lasty, we put the meat in the potato then
                        we make it into a ball to deep fry it.
                    </div>
                    <div class="card-footer">
                        <a href="#">Click for ingredients and directions</a>
                    </div>
                </div>
            </div>

            <div class="food-card">
                <div class="card">
                    <div class="card-header">
                        <div class="card-img mt-1">
                            <img src="~/images/relleno.jpg" alt="" />
                        </div>
                        <p>Relleno De Papa (stuffed Potatoes)</p>
                    </div>
                    <div class="card-body">
                        A delicious blend of spices, that make the crust when we deep fry the patotoes.
                        First we cook the meet in Spanish herbs and spices, after we mashed potatos with
                        different spices to make it flavorful. Lasty, we put the meat in the potato then
                        we make it into a ball to deep fry it.
                    </div>
                    <div class="card-footer">
                        <a href="#">Click for ingredients and directions</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="contact">
        <h1> Contact</h1>
        <div class="icon-logos">
            <a href="https://www.facebook.com/mely.toledo.12327">
                <span><i class="fab fa-facebook-f"></i></span>
            </a>
            <a href="https://www.instagram.com/melysundergroundcuisine/">
                <span><i class="fab fa-instagram"></i></span>
            </a>
        </div>
    </footer>
    <button class="scroll-to-top">
        <span><i class="fas fa-arrow-up"></i></span>
    </button>
</div>